html,
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f0e1;
  color: #333;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

main {
  padding: 40px;
  max-width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

section {
  width: 80%;
  background: white;
  padding: 20px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

section:hover {
  transform: scale(1.05);
}

h2 {
  color: #6a11cb;
  border-bottom: 3px solid #6a11cb;
  padding-bottom: 5px;
}

footer {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ff416c;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
}

button {
  background-color: #2575fc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #6a11cb;
  transition: background-color ease 0.4s;
}

@media (max-width: 824px) {
  main {
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
